/* Your code goes here */
body {
    font-family: Roboto, Helvetica, sans-serif;
}
h1{
    font-size: 16px;
    color: #444;
}
.container{
    text-align: center;
    margin: 5px;
    font-size: 13px;
}
.offer section{
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
    border: 1px solid #ccc;
}
.offer-title h2{
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background: #00b3b3;
    margin: 0px;
    padding: 15px;
}
.offer-contents div{
    padding: 20px;
    background-color: #fafafa;
}
table{
    width:100%;
    background-color: #fff;
    border-spacing: 0px;
}
th{
    font-size: 12px;
    font-weight: bold;
    color: #777;
    padding: 10px;
    margin: none;
}
td{
    font-weight:lighter;
    color: #444;
}
