/* Your code goes here */
body {
    font-family: Roboto, Helvetica, sans-serif;
}
h1{
    font-size: 16px;
    color: #444;
}
.container{
    text-align: center;
    margin: 5px;
    font-size: 13px;
}
.offer section{
    display: inline-block;
    width: 400px;
    margin: 4px;
    text-align: center;
}